.about-me-image {
    border-radius: 10%;
    height: 50%;
    width: auto;
}

.skills-list {
    margin: 5%;
    overflow: hidden;
}

.skills-list img {
    height: 12.5rem;
    width: 12.5rem;
    object-fit: cover;
}

.wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15rem;

    justify-items: stretch;
}

@keyframes scroll {
    to {
        translate: calc(-9 *15rem);
    }
}

.wrapper {
    animation: scroll 30s linear infinite;
}

.skills-font {
    color: white;
    font-family: "Monaco", monospace;
}