.left-side{
    background-color: #2c446f;
    height: 100vh;
}

.right-side{
    background-color: #799ACC;
    height: 100vh;
}

.right-side-panel{
    background-color: rgb(113, 113, 204);
    position: relative;
    width: 75%;
    height: 90%;
    left:5%;
    
}

.about-me {
    max-width: 60%;
    margin-left: 10%;
    margin-top: 10%;
}

.work-experience {
    position: relative;
    margin-top: 15%;
    margin-left: 5%;
}

.education {
    position: relative;
    margin-top: 15%;
    margin-left: 5%;
}

.skills-list{
    margin-top: 5%  ;
    overflow: hidden;
}

.skills-list img {
    height: 12.5rem;
    width: 12.5rem;
    object-fit: cover;
}

.wrapper{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15rem;

    justify-items: stretch;
}

@keyframes scroll{
    to{
        translate: calc(-9 *15rem);
    }
}

.wrapper{
    animation: scroll 30s linear infinite;
}

.skills-font{
    color: white;
    font-family: "Monaco", monospace;
}